.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formulaire{
    position: relative;
    padding: 100px;
    left: 32%;
    top: 25%;
}

.form-email{
    margin-bottom: 15px
}

.form-password{
    margin-bottom: 20px
}

.form-text{
    margin: 10px 10px;
}

fieldset{
    max-width: 30%;
    border: thick double blue;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

legend{
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: blue;
}

.sign-in{
    margin-top: 15px;
    text-decoration: underline;
    color: rgb(120, 120, 228);
}

.sign-in:hover{
    color: rgb(73, 73, 225);
}

.from-submit{
    position: relative;
    left: 40%;
}

.all {
    background-image: url('../img/Arcade.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height:100%;
    color : white;
}

