body {
    margin: 0;
    padding: 0;
    background: url('../img/Arcade.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden; /* Pour éviter le défilement vertical */
}

a {
    font-weight: 500;
    color: rgb(120, 120, 228);
    text-decoration: inherit;
}
a:hover {
    color: rgb(33, 33, 173);
} 

.formulaire{
    position: relative;
    left: 32%;
}

.form-email{
    margin-bottom: 15px
}

.form-password{
    margin-bottom: 20px
}

.form-text{
    margin: 10px 10px;
}

fieldset{
    max-width: 30%;
    border: 4mm ridge rgba(211, 220, 50, .6);
    border-radius: 50% 20% / 10% 40%;
    padding: 25px;
    background-color:beige;
}

legend{
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(120, 120, 228);
}

.sign-in{
    margin-top: 15px;
    text-decoration: underline;
    color: rgb(120, 120, 228);
}

.sign-in:hover{
    color: rgb(33, 33, 173);
}

.from-submit{
    position: relative;
    left: 40%;
}

.cd-use{
    font-size: 12px;
}

.card-css{
    position: relative;
    border:  4mm ridge  rgba(211, 220, 50, .6);
    min-height: 600px;
    transition-duration: 1000ms;
    background-size: cover;
}


.btn-test{
    position: absolute;
    bottom: 3%;
    padding-top: 2%;
}

.text-test{
    position: absolute;
    margin-bottom: 15px;
}

.infoBull{
    max-width: 30%;
    border: 4mm ridge rgba(211, 220, 50, .6);
    border-radius: 50% 20% / 10% 40%;
    padding: 25px;
    background-color:beige;
    position: relative;
    bottom: 260px;
}

.btn-infoBull{
    padding: 0 35px;
}

.all{
    position: relative;
    top: 200px;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .fl-left{
    position: absolute;
    min-height: 15%;
    right: 90%;
    color: white;
  }

  .fl-right{
    position: absolute;
    min-height: 15%;
    left: 90%;
    color: white;
  }

footer{
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:50px;   /* Hauteur du pied de page */
}

.container-footer{
    position: relative;
    bottom: 20px;
    height: 50px;
}

